# **Dataset Cleaning**

### **General (English)**

### cqadupstack-english

In [344]:
import datasets

cqadupstack_default = datasets.load_dataset("mteb/cqadupstack-english", "default")
cqadupstack_queries = datasets.load_dataset("mteb/cqadupstack-english", "queries")
cqadupstack_corpus = datasets.load_dataset("mteb/cqadupstack-english", "corpus")

Downloading readme: 100%|██████████| 1.21k/1.21k [00:00<00:00, 8.05kB/s]
Downloading data: 100%|██████████| 221k/221k [00:00<00:00, 707kB/s]
Generating test split: 100%|██████████| 3765/3765 [00:00<00:00, 164892.13 examples/s]
Downloading data: 100%|██████████| 126k/126k [00:00<00:00, 262kB/s]
Generating queries split: 100%|██████████| 1570/1570 [00:00<00:00, 640569.77 examples/s]
Downloading data: 100%|██████████| 21.5M/21.5M [00:00<00:00, 26.6MB/s]
Generating corpus split: 100%|██████████| 40221/40221 [00:00<00:00, 1718403.43 examples/s]

In [347]:
cqadupstack_corpus

DatasetDict({
    corpus: Dataset({
        features: ['_id', 'title', 'text'],
        num_rows: 40221
    })
})

In [558]:
cqadupstack_default_df = cqadupstack_default["test"].to_pandas()
cqadupstack_queries_df = cqadupstack_queries["queries"].to_pandas()
cqadupstack_corpus_df = cqadupstack_corpus["corpus"].to_pandas()

In [350]:
cqadupstack_default_df.head()

  query-id corpus-id  score
0    19399    102236    1.0
1    19399     91901    1.0
2    19399    177507    1.0
3    19399     80798    1.0
4    19399    112990    1.0

In [351]:
cqadupstack_queries_df.head()

     _id                                               text
0  19399  Is "a wide range of features" singular or plural?
1   5987  Is there any rule for the placement of space a...
2  57488           Word for two people who are the same age
3  97154                What’s the pronunciation of “ s’ ”?
4    270             What is the correct plural of octopus?

In [358]:
cqadupstack_corpus_df

,_id,title,text
0,11547,"Is there a word meaning ""an unwanted eponym""?",An eponym is one way to eternal (if posthumous...
1,11549,"""Password Reset Mail"" or ""Reset Password Mail""?",We are working on a web project that has a pas...
2,123851,Are homonyms considered single words?,There are many homonyms in the English languag...
3,116661,"Which of these phrases are equivalent, if any,...",Some say the following two phrases are equival...
4,102236,"is it correct to use ""wide range of courses th...",Please tell me if the following sentence requi...
...,...,...,...
40216,96201,Word for consolidating a dataset to a single type,I believe there is a single word that represen...
40217,96203,"Origin of ""canoodle""",There have been times in my life where I've en...
40218,96206,"Can the verb ""wonder"" simply take an object?","In this question, the questioner states > I wo..."
40219,103095,"Difference between ""now"" and ""right now""",Is there any difference between the two follow...
40220,38346,"Plural of ""abacus""",A colleague and I were having a discussion as ...

In [368]:
cqadupstack_corpus_df["_id"][0]

'11547'

In [370]:
cqadupstack_default_df["corpus-id"][0]

'102236'

ids are strings, not ints

In [372]:
example_query = cqadupstack_queries_df[cqadupstack_queries_df["_id"] == "19399"]
example_corpus = cqadupstack_corpus_df[cqadupstack_corpus_df["_id"] == "102236"]

In [375]:
example_query["text"][0]

'Is "a wide range of features" singular or plural?'

In [379]:
example_corpus["title"][4]

'is it correct to use "wide range of courses that has opened my eyes"?'

In [381]:
example_corpus["text"][4]

'Please tell me if the following sentence requires "have" or "has": > My degree in Cell Biology and Genetics has allowed me to take a wide range > of courses that **has/have** opened my eyes to new aspects of the field.'

'Please tell me if the following sentence requires "have" or "has": > My degree in Cell Biology and Genetics has allowed me to take a wide range > of courses that **has/have** opened my eyes to new aspects of the field.'

In [484]:
def general_deduplicate(queries_df, corpus_df):
    duplicates_queries_df = queries_df[queries_df.duplicated(subset=['text'], keep=False)]

    print(f"duplicate queries: {len(duplicates_queries_df)}")

    duplicates_corpus_titles_df = corpus_df[corpus_df.duplicated(subset=['title'], keep=False)]

    print(f"duplicate titles: {len(duplicates_corpus_titles_df)}")

    duplicates_corpus_text_df = corpus_df[corpus_df.duplicated(subset=['text'], keep=False)]

    print(f"duplicate text: {len(duplicates_corpus_text_df)}")

    new_line = corpus_df["text"].str.contains("\n", regex=True).any()

    print(f"contains new line: {new_line}")

In [485]:
general_deduplicate(cqadupstack_queries_df, cqadupstack_corpus_df)

duplicate queries: 0
duplicate titles: 27
duplicate text: 0
contains new line: False

In [488]:
title_duplicates = cqadupstack_corpus_df[cqadupstack_corpus_df.duplicated(subset=['title'], keep=False)]

In [497]:
dup_1 = title_duplicates[title_duplicates["title"] == "Present perfect continuous"]
print(dup_1["text"][1894])
print(dup_1["text"][29559])

Are the answers I chose correct. My choices are in bold. I **have been pumping** /I have pumped up three tyres. Would you like to do the forth? I **have been greasing** /I have greased my car. That's why my hands are dirty. She has been polishing/has polished this table all the morning and she is not satisfied with it yet. ( I chose both answers as correct, but accroding to the test my answer was wrong.) I only have been hearing/ **have heard** about him twice since he went away. He **has been riding** /has ridden, that's why he is wearing breeches. I have been pulling up/have pulled up dandelions all day. ( I chose both forms) I have been hearing/ have heard from her regularly. She is a very good correspondent.(I chose both forms) I have been making/have made sausage rolls for the party all the morning.(I chose both, but I am not sure 'have made' is correct.) How to explain why using other choices would be wrong?
How are we to understand whether present perfect progressive implies that the action is still in progress, versus implying it has stopped just now or recently? In simple sentences like these two, > • I'm tired [now] because I've been running.   >  • Why is the grass wet [now]? Has it been raining? it's obvious that the actions are complete, but not in the following five sentences: > • I have been living in Paris for two weeks.   >  • I have been reading for two hours.   >  • I have been talking with Jane on the phone(since 5:30 for ten minutes).   >  • I have been doing my homework.(For an hour)   >  • I have been working in the garden (for two hours).

Are the answers I chose correct. My choices are in bold. I **have been pumping** /I have pumped up three tyres. Would you like to do the forth? I **have been greasing** /I have greased my car. That's why my hands are dirty. She has been polishing/has polished this table all the morning and she is not satisfied with it yet. ( I chose both answers as correct, but accroding to the test my answer was wrong.) I only have been hearing/ **have heard** about him twice since he went away. He **has been riding** /has ridden, that's why he is wearing breeches. I have been pulling up/have pulled up dandelions all day. ( I chose both forms) I have been hearing/ have heard from her regularly. She is a very good correspondent.(I chose both forms) I have been making/have made sausage rolls for the party all the morning.(I chose both, but I am not sure 'have made' is correct.) How to explain why using other choices would be wrong?

How are we to understand whether present perfect progressive implies that the action is still in progress, versus implying it has stopped just now or recently? In simple sentences like these two, > • I'm tired [now] because I've been running.   >  • Why is the grass wet [now]? Has it been raining? it's obvious that the actions are complete, but not in the following five sentences: > • I have been living in Paris for two weeks.   >  • I have been reading for two hours.   >  • I have been talking with Jane on the phone(since 5:30 for ten minutes).   >  • I have been doing my homework.(For an hour)   >  • I have been working in the garden (for two hours).

the first one doesn't really make any sense?

In [498]:
cqadupstack_default_df["score"].unique()

array([1.])

how come all the scores are 1?

In [499]:
dup_1

,_id,title,text
1894,112004,Present perfect continuous,Are the answers I chose correct. My choices ar...
29559,111342,Present perfect continuous,How are we to understand whether present perfe...

In [500]:
cqadupstack_default_df[cqadupstack_default_df["corpus-id"] == "112004"]

Empty DataFrame
Columns: [query-id, corpus-id, score]
Index: []

In [506]:
cqadupstack_default_df[cqadupstack_default_df["corpus-id"] == "111342"]

Empty DataFrame
Columns: [query-id, corpus-id, score]
Index: []

In [508]:
# testing different random
cqadupstack_default_df[cqadupstack_default_df["corpus-id"] == "16511"]

    query-id corpus-id  score
346    30336     16511    1.0

I guess irrelevant corpus are not included at all in the relevance pairings

In [502]:
len(cqadupstack_default_df)

3765

In [510]:
len(cqadupstack_corpus_df)

40221

makes sense, more corpus than pairings

In [490]:
title_duplicates

,_id,title,text
285,64421,Is this sentence grammatically correct?,> **Duplicate of:** > When is it appropriat...
626,16511,"""You and I"" versus ""you and me""",> **Possible Duplicate:** > Which is correc...
655,5359,"""You and I"" versus ""you and me""",> **Possible Duplicate:** > Which is correc...
1363,9191,What's the difference between these sentences?,What's the difference between > I'm going to e...
1538,145571,Is this sentence correct?,"> But like most young people of my generation,..."
1894,112004,Present perfect continuous,Are the answers I chose correct. My choices ar...
3866,35839,Is this proper English?,"> **Possible Duplicate:** > When are ""if"" a..."
6511,45101,Is this grammatically correct?,This quote comes from an article published onl...
9379,152733,What does the sentence mean?,I just got an email telling me about a company...
10077,24625,Is this sentence correct?,> I ain't heard no word to let me know you **w...
10497,37153,When using complete sentences in parenthetical...,In a bulleted list of very technical sentences...
11743,124744,What does the sentence mean?,I have a physics book and am having trouble un...
12141,85424,Is there a grammatical error in the following ...,There is either one or no errors in the follow...
12358,106554,Is there a grammatical error in the following ...,The monthly rent shall be enhanced up to 10% e...
13621,4844,Verb agreement in the sentence,I suspect my verbs do NOT agree =) In the belo...
22294,41959,"""At the time"" versus ""at that time""",If I want to say that during the accident ther...
22597,107097,Is this grammatically correct?,"Using MS Word, I typed, ""As Roblin and Adelaid..."
24884,158624,Is this sentence correct?,I am creating an app for Android in my locale ...
25082,15639,What's the difference between these sentences?,"> He walked out, Rachel's words indelibly etch..."
26158,159596,Is this proper English?,The content analysis study our group undertook...
29166,37200,When using complete sentences in parenthetical...,In a bulleted list of very technical sentences...
29559,111342,Present perfect continuous,How are we to understand whether present perfe...
34500,174537,What is the meaning of this quote?,"> ""I'm just sorry that she had to be your fort..."
35300,168655,Is this sentence grammatically correct?,"""If we were in a physical relationship, you ju..."
36289,154930,What is the meaning of this quote?,I heard this in a movie. What does it mean? > ...
36842,9937,Verb agreement in the sentence,> Every morning right after I **went** to the ...
39369,24727,"""At the time"" versus ""at that time""",I hope this is not a double post. Should I use...

In [513]:
contains_word_duplicate = cqadupstack_corpus_df[cqadupstack_corpus_df["text"].str.contains("duplicate")]

In [515]:
contains_word_duplicate["text"][15]

'I checked the grammar of my research article using a leading software. This is my sentence:   * _A total of 12.3 million sequences_ **_was used_** _for the establishment of database._ The error is: _\'Potential issues with passive voice usage\'_ Anything wrong here? ( **NOTE:** Er, the OP\'s question is about **passive voice** , but the "duplicate" linked thread is about subject-verb number agreement. Perhaps there\'s a related issue here, on subject-verb number agreement (which is debatable), but the OP\'s main question on passive voice ought to be addressed. Anyway, a short answer post here would probably be more appropriate than a related link. -- F.E.)'

'I checked the grammar of my research article using a leading software. This is my sentence:   * _A total of 12.3 million sequences_ **_was used_** _for the establishment of database._ The error is: _\'Potential issues with passive voice usage\'_ Anything wrong here? ( **NOTE:** Er, the OP\'s question is about **passive voice** , but the "duplicate" linked thread is about subject-verb number agreement. Perhaps there\'s a related issue here, on subject-verb number agreement (which is debatable), but the OP\'s main question on passive voice ought to be addressed. Anyway, a short answer post here would probably be more appropriate than a related link. -- F.E.)'

some literally contain the word "duplicate"

first prepare dataset for query <> title:
- just need to remove duplicate titles (already know that there are no duplicate queries)
- fix query data accordingly

In [532]:
def clean_query_title(corpus_df, default_df):
    cleaned_corpus_df = corpus_df.drop_duplicates(subset=['title'], keep='first')

    duplicates_corpus_df = corpus_df[corpus_df.duplicated(subset=['title'], keep=False)]

    corpus_id_mapping = duplicates_corpus_df.groupby('title')['_id'].first().to_dict()
    corpus_id_replacement = {row['_id']: corpus_id_mapping[row['title']] for _, row in duplicates_corpus_df.iterrows()}

    default_df["corpus-id"] = default_df["corpus-id"].replace(corpus_id_replacement)

    cleaned_default_df = default_df.drop_duplicates(subset=['query-id', 'corpus-id'])

    return cleaned_corpus_df, cleaned_default_df

In [533]:
cleaned_cqadupstack_corpus_df_title, cleaned_cqadupstack_default_df_title = clean_query_title(cqadupstack_corpus_df, cqadupstack_default_df)

In [534]:
len(cqadupstack_corpus_df)

40221

In [536]:
len(cleaned_cqadupstack_corpus_df_title)

40207

In [537]:
len(cqadupstack_default_df)

3765

In [538]:
len(cleaned_cqadupstack_default_df_title)

3764

query <> text

In [541]:
contains_word_duplicate

,_id,title,text
15,168653,Potential issues with passive voice usage,I checked the grammar of my research article u...
43,164832,"Conjugation of answer to ""How much money is th...",I'm using a website - www.ixl.com \- to teach ...
122,132833,"Should words that finish with an ""s"" take ""'s""...","For example, should I write : (1) Chris's dog ..."
132,44026,What is the correct syntax for a plural posses...,> **Possible Duplicate:** > What is the cor...
460,861,"What does Maugham mean by ""his spaghetti were""?","> **Possible Duplicate:** > Was the usage ""..."
...,...,...,...
37896,173840,"Translating from American to Canadian, when th...",This is not a duplicate of questions such as“L...
38037,58672,Comma confusion,"I'm pretty sure this is a duplicate, but it's ..."
38353,191816,Is it recommended to include a preposition whe...,Consider the sample sentence below (quoted fro...
38549,68749,What do we need for a stress in a word?,"I am non-native in English, so this question m..."
39598,142453,How widespread are snow goblins?,I live in the Northeastern part of the US. We'...

In [545]:
title_duplicates[title_duplicates["_id"] == "16511"]["text"][626]

'> **Possible Duplicate:**   >  Which is correct, "you and I" or "you and me"? I was surprised to hear "you and I," when I expected "you and me." Are the two expressions synonyms to each other?'

In [546]:
title_duplicates[title_duplicates["_id"] == "5359"]["text"][655]

'> **Possible Duplicate:**   >  Which is correct, "you and I" or "you and me"? When I was in primary school, I was advised by my English teacher to use "you and I" instead of "you and me." I know some people out there still use "You and me." Can anyone explain why we should use "you and I" and what is wrong with "you and me"?'

'> **Possible Duplicate:**   >  Which is correct, "you and I" or "you and me"? I was surprised to hear "you and I," when I expected "you and me." Are the two expressions synonyms to each other?'

'> **Possible Duplicate:**   >  Which is correct, "you and I" or "you and me"? When I was in primary school, I was advised by my English teacher to use "you and I" instead of "you and me." I know some people out there still use "You and me." Can anyone explain why we should use "you and I" and what is wrong with "you and me"?'

In [547]:
title_duplicates[title_duplicates["title"] == "Is this sentence grammatically correct?"]

,_id,title,text
285,64421,Is this sentence grammatically correct?,> **Duplicate of:** > When is it appropriat...
35300,168655,Is this sentence grammatically correct?,"""If we were in a physical relationship, you ju..."

In [548]:
title_duplicates[title_duplicates["_id"] == "64421"]["text"][285]

'> **Duplicate of:**   >  When is it appropriate to end a sentence in a preposition?   >  Possessive connecting word for inanimate object I am not sure about following sentence being grammatically correct: > ..such as the X fund the board of directors of which I have just became a > member. OR > such as the X fund whose board of directors I have just became a member > (of?).'

'> **Duplicate of:**   >  When is it appropriate to end a sentence in a preposition?   >  Possessive connecting word for inanimate object I am not sure about following sentence being grammatically correct: > ..such as the X fund the board of directors of which I have just became a > member. OR > such as the X fund whose board of directors I have just became a member > (of?).'

In [551]:
testing = cqadupstack_corpus_df[cqadupstack_corpus_df["text"].str.contains("When is it appropriate to end a sentence in a preposition?")]

In [552]:
for text in testing["text"]:
    print(text)

> **Duplicate of:**   >  When is it appropriate to end a sentence in a preposition?   >  Possessive connecting word for inanimate object I am not sure about following sentence being grammatically correct: > ..such as the X fund the board of directors of which I have just became a > member. OR > such as the X fund whose board of directors I have just became a member > (of?).
> **Possible Duplicate:**   >  When is it appropriate to end a sentence in a preposition? I would like to know which is correct and why: > There is a new search of which I've become aware. or > There is a new search I've become aware of.
> **Possible Duplicate:**   >  When is it appropriate to end a sentence in a preposition? "a soul can sense when it’s being talked to." Does this sound OK? I don't like ending with a preposition, but it does get the point across. Any suggestions to replacing the phrase "being talked to" Thanks After reading similar questions on this topic, Edward Tanguay referenced a site, http://grammar.yourdictionary.com/parts-of-speech/prepositions/ending-a- sentence-with-a-preposition.html which basically states to avoid confusion try not ending with a preposition. So I'll change it from: "a soul can sense when it’s being talked to." to one of these: "a soul can sense when it’s being summoned." "a soul can sense when it’s being addressed." Not exactly the meaning I wanted, but gets the preposition out of the way. Thanks,
> **Possible Duplicate:**   >  When is it appropriate to end a sentence in a preposition? If I can't end a sentence with the preposition "with", does this mean that the following sentences are grammatically wrong? If so, why? > At least we have some information to work with. > > She is finding the job very hard to cope with. > > Blasphemy is one thing I will not put up with. Does anyone else have any examples of sentences ending with, with?
> **Possible Duplicate:**   >  When is it appropriate to end a sentence in a preposition? In this answer I wrote > [You can use it] to take pictures of a movie in a cinema, of which the > cinema guys probably wouldn't approve. but I am not sure if it should rather be > [You can use it] to take pictures of a movie in a cinema, which the cinema > guys probably wouldn't approve of. I found this page but I'm still unable to find out which example it relates to. (... to which example it relates?)

The Duplicate of and Possible Duplicates contain some of the same text, but each are still unique
- how should I be thinking about this?

Will just clean text to remove > **Duplicate of:**   >  and > **Possible Duplicate:**   >

In [ ]:
cleaned_cqadupstack_corpus_df_text = cqadupstack_corpus_df.copy()

In [562]:
cleaned_cqadupstack_corpus_df_text["text"] = cleaned_cqadupstack_corpus_df_text["text"].str.replace(r"> \*\*Duplicate of:\*\*   >", "", regex=True)

In [563]:
cleaned_cqadupstack_corpus_df_text["text"] = cleaned_cqadupstack_corpus_df_text["text"].str.replace(r"> \*\*Possible Duplicate:\*\*   >", "", regex=True)

#### Final datasets

for query <> title

In [539]:
cleaned_cqadupstack_corpus_df_title.head()

,_id,title,text
0,11547,"Is there a word meaning ""an unwanted eponym""?",An eponym is one way to eternal (if posthumous...
1,11549,"""Password Reset Mail"" or ""Reset Password Mail""?",We are working on a web project that has a pas...
2,123851,Are homonyms considered single words?,There are many homonyms in the English languag...
3,116661,"Which of these phrases are equivalent, if any,...",Some say the following two phrases are equival...
4,102236,"is it correct to use ""wide range of courses th...",Please tell me if the following sentence requi...

In [540]:
cleaned_cqadupstack_default_df_title.head()

  query-id corpus-id  score
0    19399    102236    1.0
1    19399     91901    1.0
2    19399    177507    1.0
3    19399     80798    1.0
4    19399    112990    1.0

for query <> text

In [564]:
cleaned_cqadupstack_corpus_df_text.head()

,_id,title,text
0,11547,"Is there a word meaning ""an unwanted eponym""?",An eponym is one way to eternal (if posthumous...
1,11549,"""Password Reset Mail"" or ""Reset Password Mail""?",We are working on a web project that has a pas...
2,123851,Are homonyms considered single words?,There are many homonyms in the English languag...
3,116661,"Which of these phrases are equivalent, if any,...",Some say the following two phrases are equival...
4,102236,"is it correct to use ""wide range of courses th...",Please tell me if the following sentence requi...

In [565]:
cqadupstack_default_df.head()

  query-id corpus-id  score
0    19399    102236    1.0
1    19399     91901    1.0
2    19399    177507    1.0
3    19399     80798    1.0
4    19399    112990    1.0

we use the same query df for both

In [567]:
cqadupstack_queries_df.head()

     _id                                               text
0  19399  Is "a wide range of features" singular or plural?
1   5987  Is there any rule for the placement of space a...
2  57488           Word for two people who are the same age
3  97154                What’s the pronunciation of “ s’ ”?
4    270             What is the correct plural of octopus?

### **Domain-Specific (English)**

### MedicalQA - Medical

In [85]:
medical_qa_default = datasets.load_dataset("mteb/medical_qa", "default")
medical_qa_queries = datasets.load_dataset("mteb/medical_qa", "queries")
medical_qa_corpus = datasets.load_dataset("mteb/medical_qa", "corpus")

In [86]:
medical_qa_default_qa_df = medical_qa_default["test"].to_pandas()
medical_qa_queries_df = medical_qa_queries["queries"].to_pandas()
medical_qa_corpus_df = medical_qa_corpus["corpus"].to_pandas()

In [90]:
medical_qa_queries_df["text"][0]

'Who is at risk for Lymphocytic Choriomeningitis (LCM)? ?'

In [91]:
medical_qa_corpus_df["text"][0]

'LCMV infections can occur after exposure to fresh urine, droppings, saliva, or nesting materials from infected rodents.  Transmission may also occur when these materials are directly introduced into broken skin, the nose, the eyes, or the mouth, or presumably, via the bite of an infected rodent. Person-to-person transmission has not been reported, with the exception of vertical transmission from infected mother to fetus, and rarely, through organ transplantation.'

In [95]:
len(medical_qa_corpus_df)

2048

In [96]:
medical_qa_corpus_deduplicated = medical_qa_corpus_df.drop_duplicates(subset=['text'], keep='first')
len(medical_qa_corpus_deduplicated)

2007

In [98]:
len(medical_qa_queries_df)

2048

In [99]:
medical_qa_queries_deduplicated = medical_qa_queries_df.drop_duplicates(subset=['text'], keep='first')
len(medical_qa_queries_deduplicated)

1820

In [119]:
duplicated_queries = medical_qa_queries_df[medical_qa_queries_df.duplicated(subset=['text'], keep=False)] # False keeps first occurance in df, so we can use this for filter pairing
duplicated_corpus = medical_qa_corpus_df[medical_qa_corpus_df.duplicated(subset=['text'], keep=False)]

In [124]:
duplicated_queries

,_id,text
0,2d3e200a-8ddf-4062-a678-f5d0401c54ad,Who is at risk for Lymphocytic Choriomeningiti...
2,e385efaa-fc37-4ae4-9f85-bc5c0d09e5bc,Who is at risk for Lymphocytic Choriomeningiti...
55,37b0c3df-84fb-4789-a414-92ddcf9f9c93,Who is at risk for Alkhurma Hemorrhagic Fever ...
57,c4e4428a-597f-48f3-9f53-b9ee2ebd6e6e,Who is at risk for Alkhurma Hemorrhagic Fever ...
87,a167f41d-088a-442f-9f67-4b63f2fb58a6,Who is at risk for Marburg hemorrhagic fever (...
...,...,...
2039,c94a5b9f-29a8-4c56-834b-c14bf5b7ae6b,What is (are) Primary Hyperparathyroidism ?
2042,8a105170-77a8-4706-8fbc-c33b65fe7a69,How to diagnose Primary Hyperparathyroidism ?
2043,41205ac9-b711-464a-83ff-feeb151e677b,How to diagnose Primary Hyperparathyroidism ?
2045,2ac6e1b0-09b3-4457-93a4-933e1c72103b,What to do for Primary Hyperparathyroidism ?
2046,33020485-905e-4052-9086-97cbe809c5f1,What to do for Primary Hyperparathyroidism ?

In [117]:
medical_qa_queries_deduplicated

,_id,text
0,2d3e200a-8ddf-4062-a678-f5d0401c54ad,Who is at risk for Lymphocytic Choriomeningiti...
1,bf3b28a5-db6f-412d-96f1-d67d17bcaef8,What are the symptoms of Lymphocytic Choriomen...
3,ebb4ab78-ff5f-4e78-ac14-bb98760c2a0a,How to diagnose Lymphocytic Choriomeningitis (...
4,9fd75f16-1bd5-4451-af69-5885b7d5267a,What are the treatments for Lymphocytic Chorio...
5,0f303917-6e53-449c-8242-7ab82e8fb78f,How to prevent Lymphocytic Choriomeningitis (L...
...,...,...
2041,8e88d11c-e574-450a-ade4-c3f96756cb51,What are the symptoms of Primary Hyperparathyr...
2042,8a105170-77a8-4706-8fbc-c33b65fe7a69,How to diagnose Primary Hyperparathyroidism ?
2044,2fdc3c5b-fdd7-4402-b5f2-edbadf83889d,What are the treatments for Primary Hyperparat...
2045,2ac6e1b0-09b3-4457-93a4-933e1c72103b,What to do for Primary Hyperparathyroidism ?
2047,c20f7a35-586c-4c80-ae3f-6a6c8bed99b2,What is (are) Urinary Incontinence in Men ?

In [104]:
len(medical_qa_default_qa_df)

2048

In [109]:
medical_qa_default_qa_df_deduplicated = medical_qa_default_qa_df.drop_duplicates(subset=['query-id', 'corpus-id'], keep='first')
len(medical_qa_default_qa_df_deduplicated)

2048

No duplicate pairs, so filter for what we found above

In [127]:
len(medical_qa_default_qa_df)

2048

In [125]:
query_id_mapping = duplicated_queries.groupby('text')['_id'].first().to_dict()
corpus_id_mapping = duplicated_corpus.groupby('text')['_id'].first().to_dict()
query_id_replacement = {row['_id']: query_id_mapping[row['text']] for _, row in duplicated_queries.iterrows()}
corpus_id_replacement = {row['_id']: corpus_id_mapping[row['text']] for _, row in duplicated_corpus.iterrows()}

medical_qa_default_qa_df['query-id'] = medical_qa_default_qa_df['query-id'].replace(query_id_replacement)
medical_qa_default_qa_df['corpus-id'] = medical_qa_default_qa_df['corpus-id'].replace(corpus_id_replacement)

medical_qa_default_qa_df_deduplicated = medical_qa_default_qa_df.drop_duplicates(subset=['query-id', 'corpus-id'])

medical_qa_default_qa_df_deduplicated.head()

,query-id,corpus-id,score
0,2d3e200a-8ddf-4062-a678-f5d0401c54ad,0377f7ec-d481-4bb2-a878-5d279a2a11fe,1.0
1,bf3b28a5-db6f-412d-96f1-d67d17bcaef8,2f249bba-2201-424f-8515-182cd5272cd9,1.0
2,2d3e200a-8ddf-4062-a678-f5d0401c54ad,935eb313-ccf5-4135-9de6-f6b9cfb6a8f5,1.0
3,ebb4ab78-ff5f-4e78-ac14-bb98760c2a0a,f28f93b1-0df2-47cf-9349-e85683402cf8,1.0
4,9fd75f16-1bd5-4451-af69-5885b7d5267a,8e253cda-fa64-4f77-ae17-e1d8774f96bb,1.0

In [126]:
len(medical_qa_default_qa_df_deduplicated)

2019

In [134]:
medical_qa_queries_deduplicated.head(50)

,_id,text
0,2d3e200a-8ddf-4062-a678-f5d0401c54ad,Who is at risk for Lymphocytic Choriomeningiti...
1,bf3b28a5-db6f-412d-96f1-d67d17bcaef8,What are the symptoms of Lymphocytic Choriomen...
3,ebb4ab78-ff5f-4e78-ac14-bb98760c2a0a,How to diagnose Lymphocytic Choriomeningitis (...
4,9fd75f16-1bd5-4451-af69-5885b7d5267a,What are the treatments for Lymphocytic Chorio...
5,0f303917-6e53-449c-8242-7ab82e8fb78f,How to prevent Lymphocytic Choriomeningitis (L...
6,4a4eb447-3a4b-4cfa-b244-63d951527d06,What is (are) Parasites - Cysticercosis ?
7,061c5091-8d9f-4b40-ae1e-ef7554f347a1,Who is at risk for Parasites - Cysticercosis? ?
8,dda9da1d-3dbd-4d58-b0c3-84690b5b5488,How to diagnose Parasites - Cysticercosis ?
9,703f96ef-019c-4313-938c-6309362b280b,What are the treatments for Parasites - Cystic...
10,23a00128-e91c-4e27-969d-35ff3aeaf16d,How to prevent Parasites - Cysticercosis ?
11,e1928d15-edfc-4da5-b55c-105d9f082394,What is (are) Parasites - Trichuriasis (also k...
12,13d798ff-8990-4cab-a649-9e5575bbfdfe,Who is at risk for Parasites - Trichuriasis (a...
13,c8ec32b7-87c2-4fec-95a6-d56dc6030fa4,How to diagnose Parasites - Trichuriasis (also...
14,c6f39623-8917-4407-9257-0087d36ee378,What are the treatments for Parasites - Trichu...
15,261f9be2-4686-4df1-b186-233947da3000,How to prevent Parasites - Trichuriasis (also ...
16,b38e417a-ab05-41b3-aa06-3fb39d1d0a96,what are marine toxins?
17,e9cb89fb-4668-4949-9228-c47003e496ab,how can these diseases be diagnosed for Marine...
18,69f8d07b-0b17-4c51-8e55-881abaa47528,how can these diseases be treated for Marine T...
19,e4be7bb3-ee6d-46ea-8625-b75dff7ea177,how common are these diseases for Marine Toxins ?
20,bfe00097-743f-4f88-acc4-9fc2ceadea5a,what can i do to prevent poisoning by marine t...
21,a605f977-6760-47bf-8b42-9f0eb73e8dbd,what is the government doing about these disea...
22,005d31a7-615d-4e82-b5a7-9f9b60db9cf7,what else can be done to prevent these disease...
23,6703d7b3-5450-4d72-bfe2-87765aff627e,What is (are) Yellow Fever Vaccination ?
24,cf7a2eaf-d962-4afc-882f-33273340070d,What is (are) Parasites - Schistosomiasis ?
25,827a02e6-746b-43c2-93fc-ec743634c70f,Who is at risk for Parasites - Schistosomiasis? ?
26,3fa2314e-2d36-4967-b3cb-91be3330e8e5,How to diagnose Parasites - Schistosomiasis ?
27,a46c630d-a957-49cc-a31b-956dd60fba19,What are the treatments for Parasites - Schist...
28,c18a4484-b1d6-4ef8-9e4f-dd03c90a10d9,How to prevent Parasites - Schistosomiasis ?
29,bb532b38-6e3f-45ed-967d-01b447a0edde,What is (are) Parasites - Lice - Head Lice ?
30,cbee9982-6266-45f6-bbdf-18f37143f0b7,Who is at risk for Parasites - Lice - Head Lic...
31,ae054cc9-fdd3-4ddc-9354-77d1ddfddf66,How to diagnose Parasites - Lice - Head Lice ?
32,50585512-b0b2-4794-84a8-9b623d023abe,What are the treatments for Parasites - Lice -...
33,39d33a9c-7d1d-47ad-aefc-aa6e1c944998,How to prevent Parasites - Lice - Head Lice ?
34,c0d388a9-0153-4e07-b49c-4064a95e72b7,What is (are) Parasites - Lice - Body Lice ?
35,355e6fd5-bfcb-4520-96d0-ee1cf280a8bf,Who is at risk for Parasites - Lice - Body Lic...
36,9f301535-b246-40ff-b715-5fc475bf0cfc,How to diagnose Parasites - Lice - Body Lice ?
37,c1ba804f-1ed8-43e0-be7b-d973994aab62,What are the treatments for Parasites - Lice -...
38,783c4a8b-4347-453a-b932-03a150ea7d47,How to prevent Parasites - Lice - Body Lice ?
39,72065337-dbc1-4802-8b61-636a56e94502,How to prevent La Crosse Encephalitis ?
40,71b34a2b-c8ee-437a-842e-428aa9c1f02e,What is (are) Parasites - Toxocariasis (also k...
41,c58b3e2c-045b-4665-bb25-9f45b9459dbe,Who is at risk for Parasites - Toxocariasis (a...
42,c2aa3728-ad24-480e-b0ba-d5097048bc92,How to diagnose Parasites - Toxocariasis (also...
43,5048638b-ae01-4241-bbc9-fe853dc1e381,What are the treatments for Parasites - Toxoca...
44,f4f217fa-4d40-4320-a7d5-4802b17dd2f1,How to prevent Parasites - Toxocariasis (also ...
45,2d586cae-0a2f-4bee-94b5-fb60b1fcbf03,What is (are) Acanthamoeba - Granulomatous Ame...
46,92a8082f-a2b9-457a-8c83-b074eca068d5,Who is at risk for Acanthamoeba - Granulomatou...
47,34f59937-eaaa-4808-b403-c4acf50ea3ff,How to diagnose Acanthamoeba - Granulomatous A...
48,bda4c585-fc59-414b-a73e-9ec2bb057524,What are the treatments for Acanthamoeba - Gra...
49,6722838d-b96e-4eac-8c73-5ea667bfa18b,How to prevent Acanthamoeba - Granulomatous Am...
50,f773d98c-3025-4858-abf9-5d096b622b92,What is (are) Parasites - Scabies ?

In [136]:
medical_qa_corpus_deduplicated['text'][28]

'Prevention\n    \nNo vaccine is available.\n    \nThe best way to prevent schistosomiasis is to take the following steps if you are visiting or live in an area where schistosomiasis is transmitted:\n    \n     - Avoid swimming or wading in freshwater when you are in countries in which schistosomiasis occurs. Swimming in the ocean and in chlorinated swimming pools is safe.\n     - Drink safe water. Although schistosomiasis is not transmitted by swallowing contaminated water, if your mouth or lips come in contact with water containing the parasites, you could become infected. Because water coming directly from canals, lakes, rivers, streams, or springs may be contaminated with a variety of infectious organisms, you should either bring your water to a rolling boil for 1 minute or filter water before drinking it. Bring your water to a rolling boil for at least 1 minute will kill any harmful parasites, bacteria, or viruses present. Iodine treatment alone WILL NOT GUARANTEE that water is safe and free of all parasites.\n     - Water used for bathing should be brought to a rolling boil for 1 minute to kill any cercariae, and then cooled before bathing to avoid scalding. Water held in a storage tank for at least 1 - 2 days should be safe for bathing.\n     - Vigorous towel drying after an accidental, very brief water exposure may help to prevent the Schistosoma parasite from penetrating the skin. However, do not rely on vigorous towel drying alone to prevent schistosomiasis.\n    \n    \nThose who have had contact with potentially contaminated water overseas should see their health care provider after returning from travel to discuss testing.\n    \nMore on: Schistosomiasis in Travelers\n   \n  \n  \n   Control\n   \nIn countries where schistosomiasis causes significant disease, control efforts usually focus on:\n   \n    - reducing the number of infections in people and/or\n    - eliminating the snails that are required to maintain the parasite’s life cycle.\n   \n   \nFor all species that cause schistosomiasis, improved sanitation could reduce or eliminate transmission of this disease. In some areas with lower transmission levels, elimination of schistosomiasis is considered a "winnable battle" by public health officials.\n   \nControl measures can include mass drug treatment of entire communities and targeted treatment of school-age children. Some of the problems with control of schistosomiasis include:\n   \n    - Chemicals used to eliminate snails in freshwater sources may harm other species of animals in the water and, if treatment is not sustained, the snails may return to those sites afterwards.\n    - For certain species of the parasite, such as S. japonicum, animals such as cows or water buffalo can also be infected. Runoff from pastures (if the cows are infected) can contaminate freshwater sources.'

In [143]:
medical_qa_corpus_deduplicated["text"] = medical_qa_corpus_deduplicated["text"].str.replace("\n", " ", regex=True)

/var/folders/tt/89j8tbqd2q3bnwxk83_csyn00000gn/T/ipykernel_2920/2279784849.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  medical_qa_corpus_deduplicated["text"] = medical_qa_corpus_deduplicated["text"].str.replace("\n", " ", regex=True)

In [144]:
medical_qa_corpus_deduplicated

,_id,title,text
0,0377f7ec-d481-4bb2-a878-5d279a2a11fe,,LCMV infections can occur after exposure to fr...
1,2f249bba-2201-424f-8515-182cd5272cd9,,LCMV is most commonly recognized as causing ne...
2,935eb313-ccf5-4135-9de6-f6b9cfb6a8f5,,Individuals of all ages who come into contact ...
3,f28f93b1-0df2-47cf-9349-e85683402cf8,,"During the first phase of the disease, the mos..."
4,8e253cda-fa64-4f77-ae17-e1d8774f96bb,,"Aseptic meningitis, encephalitis, or meningoen..."
...,...,...,...
2043,87f80156-6d4d-424f-b17a-4aad8d73d32d,,Once the diagnosis of primary hyperparathyroid...
2044,6e249abc-2caf-489d-89c7-b3152c9a6dc6,,Surgery Surgery to remove the...
2045,49e8250a-cd2a-4b1b-9ab7-f8942e3ec0c0,,"Eating, diet, and nutrition have not been show..."
2046,0c79e705-c2fa-4111-ba91-f86207a0cd6f,,- Primary hyperparathyroidism is a disorder of...
2047,66cb232c-2e7d-4bb3-b470-b4c605670bd9,,Urinary incontinence is the loss of bladder co...

In [145]:
medical_qa_corpus_deduplicated['text'][28]

'Prevention      No vaccine is available.      The best way to prevent schistosomiasis is to take the following steps if you are visiting or live in an area where schistosomiasis is transmitted:           - Avoid swimming or wading in freshwater when you are in countries in which schistosomiasis occurs. Swimming in the ocean and in chlorinated swimming pools is safe.      - Drink safe water. Although schistosomiasis is not transmitted by swallowing contaminated water, if your mouth or lips come in contact with water containing the parasites, you could become infected. Because water coming directly from canals, lakes, rivers, streams, or springs may be contaminated with a variety of infectious organisms, you should either bring your water to a rolling boil for 1 minute or filter water before drinking it. Bring your water to a rolling boil for at least 1 minute will kill any harmful parasites, bacteria, or viruses present. Iodine treatment alone WILL NOT GUARANTEE that water is safe and free of all parasites.      - Water used for bathing should be brought to a rolling boil for 1 minute to kill any cercariae, and then cooled before bathing to avoid scalding. Water held in a storage tank for at least 1 - 2 days should be safe for bathing.      - Vigorous towel drying after an accidental, very brief water exposure may help to prevent the Schistosoma parasite from penetrating the skin. However, do not rely on vigorous towel drying alone to prevent schistosomiasis.           Those who have had contact with potentially contaminated water overseas should see their health care provider after returning from travel to discuss testing.      More on: Schistosomiasis in Travelers              Control     In countries where schistosomiasis causes significant disease, control efforts usually focus on:         - reducing the number of infections in people and/or     - eliminating the snails that are required to maintain the parasite’s life cycle.         For all species that cause schistosomiasis, improved sanitation could reduce or eliminate transmission of this disease. In some areas with lower transmission levels, elimination of schistosomiasis is considered a "winnable battle" by public health officials.     Control measures can include mass drug treatment of entire communities and targeted treatment of school-age children. Some of the problems with control of schistosomiasis include:         - Chemicals used to eliminate snails in freshwater sources may harm other species of animals in the water and, if treatment is not sustained, the snails may return to those sites afterwards.     - For certain species of the parasite, such as S. japonicum, animals such as cows or water buffalo can also be infected. Runoff from pastures (if the cows are infected) can contaminate freshwater sources.'

In [149]:
print(medical_qa_corpus_deduplicated.isna().sum())

_id      0
title    0
text     0
dtype: int64

#### Final cleaned dataset

In [150]:
medical_qa_queries_deduplicated

,_id,text
0,2d3e200a-8ddf-4062-a678-f5d0401c54ad,Who is at risk for Lymphocytic Choriomeningiti...
1,bf3b28a5-db6f-412d-96f1-d67d17bcaef8,What are the symptoms of Lymphocytic Choriomen...
3,ebb4ab78-ff5f-4e78-ac14-bb98760c2a0a,How to diagnose Lymphocytic Choriomeningitis (...
4,9fd75f16-1bd5-4451-af69-5885b7d5267a,What are the treatments for Lymphocytic Chorio...
5,0f303917-6e53-449c-8242-7ab82e8fb78f,How to prevent Lymphocytic Choriomeningitis (L...
...,...,...
2041,8e88d11c-e574-450a-ade4-c3f96756cb51,What are the symptoms of Primary Hyperparathyr...
2042,8a105170-77a8-4706-8fbc-c33b65fe7a69,How to diagnose Primary Hyperparathyroidism ?
2044,2fdc3c5b-fdd7-4402-b5f2-edbadf83889d,What are the treatments for Primary Hyperparat...
2045,2ac6e1b0-09b3-4457-93a4-933e1c72103b,What to do for Primary Hyperparathyroidism ?
2047,c20f7a35-586c-4c80-ae3f-6a6c8bed99b2,What is (are) Urinary Incontinence in Men ?

In [151]:
medical_qa_corpus_deduplicated

,_id,title,text
0,0377f7ec-d481-4bb2-a878-5d279a2a11fe,,LCMV infections can occur after exposure to fr...
1,2f249bba-2201-424f-8515-182cd5272cd9,,LCMV is most commonly recognized as causing ne...
2,935eb313-ccf5-4135-9de6-f6b9cfb6a8f5,,Individuals of all ages who come into contact ...
3,f28f93b1-0df2-47cf-9349-e85683402cf8,,"During the first phase of the disease, the mos..."
4,8e253cda-fa64-4f77-ae17-e1d8774f96bb,,"Aseptic meningitis, encephalitis, or meningoen..."
...,...,...,...
2043,87f80156-6d4d-424f-b17a-4aad8d73d32d,,Once the diagnosis of primary hyperparathyroid...
2044,6e249abc-2caf-489d-89c7-b3152c9a6dc6,,Surgery Surgery to remove the...
2045,49e8250a-cd2a-4b1b-9ab7-f8942e3ec0c0,,"Eating, diet, and nutrition have not been show..."
2046,0c79e705-c2fa-4111-ba91-f86207a0cd6f,,- Primary hyperparathyroidism is a disorder of...
2047,66cb232c-2e7d-4bb3-b470-b4c605670bd9,,Urinary incontinence is the loss of bladder co...

In [152]:
medical_qa_default_qa_df_deduplicated

,query-id,corpus-id,score
0,2d3e200a-8ddf-4062-a678-f5d0401c54ad,0377f7ec-d481-4bb2-a878-5d279a2a11fe,1.0
1,bf3b28a5-db6f-412d-96f1-d67d17bcaef8,2f249bba-2201-424f-8515-182cd5272cd9,1.0
2,2d3e200a-8ddf-4062-a678-f5d0401c54ad,935eb313-ccf5-4135-9de6-f6b9cfb6a8f5,1.0
3,ebb4ab78-ff5f-4e78-ac14-bb98760c2a0a,f28f93b1-0df2-47cf-9349-e85683402cf8,1.0
4,9fd75f16-1bd5-4451-af69-5885b7d5267a,8e253cda-fa64-4f77-ae17-e1d8774f96bb,1.0
...,...,...,...
2043,8a105170-77a8-4706-8fbc-c33b65fe7a69,87f80156-6d4d-424f-b17a-4aad8d73d32d,1.0
2044,2fdc3c5b-fdd7-4402-b5f2-edbadf83889d,6e249abc-2caf-489d-89c7-b3152c9a6dc6,1.0
2045,2ac6e1b0-09b3-4457-93a4-933e1c72103b,49e8250a-cd2a-4b1b-9ab7-f8942e3ec0c0,1.0
2046,2ac6e1b0-09b3-4457-93a4-933e1c72103b,0c79e705-c2fa-4111-ba91-f86207a0cd6f,1.0
2047,c20f7a35-586c-4c80-ae3f-6a6c8bed99b2,66cb232c-2e7d-4bb3-b470-b4c605670bd9,1.0

### LitSearch - Scientific

In [313]:
from datasets import load_dataset

litsearch_query_data = load_dataset("princeton-nlp/LitSearch", "query", split="full")
litsearch_clean_data = load_dataset("princeton-nlp/LitSearch", "corpus_clean", split="full")

In [314]:
litsearch_query_df = litsearch_query_data.to_pandas()
litsearch_papers_df = litsearch_clean_data.to_pandas()

In [315]:
len(litsearch_query_df)

597

In [316]:
litsearch_papers_df

,corpusid,title,abstract,citations,full_paper
0,252715594,PHENAKI: VARIABLE LENGTH VIDEO GENERATION FROM...,"We present Phenaki, a model capable of realist...","[6628106, 174802916, 238582653]",PHENAKI: VARIABLE LENGTH VIDEO GENERATION FROM...
1,13002849,MODE REGULARIZED GENERATIVE ADVERSARIAL NETWORKS,Although Generative Adversarial Networks achie...,[],MODE REGULARIZED GENERATIVE ADVERSARIAL NETWOR...
2,239998253,What Do We Mean by Generalization in Federated...,Federated learning data is drawn from a distri...,"[235613568, 231924480, 211678094, 195798643, 4...",What Do We Mean by Generalization in Federated...
3,62841605,SPREADING VECTORS FOR SIMILARITY SEARCH,Discretizing multi-dimensional data distributi...,[],SPREADING VECTORS FOR SIMILARITY SEARCH\n\n\nA...
4,253237531,MACHINE UNLEARNING OF FEDERATED CLUSTERS,Federated clustering (FC) is an unsupervised l...,[],MACHINE UNLEARNING OF FEDERATED CLUSTERS\n\n\n...
...,...,...,...,...,...
64178,208324656,,,[],"Pharmacological Substances, Compounds\n\n\nVíc..."
64179,30831790,The FLaReNet Thematic Network: A Global Forum ...,The aim of this short paper is to present the ...,[],The FLaReNet Thematic Network: A Global Forum ...
64180,11918974,Improved statistical measures to assess natura...,We examine the performance of three dependency...,"[12042560, 628455, 196105, 9429298, 9431510, 6...",Improved statistical measures to assess natura...
64181,2046924,The relative divergence of Dutch dialect pronu...,In this paper we use the Reeks Nederlandse Dia...,[2704974],The relative divergence of Dutch dialect pronu...
64182,231642302,plWordNet 3.0 -Almost There,It took us nearly ten years to get from no wor...,"[16189696, 11338245, 17178054, 17535854, 24949...",plWordNet 3.0 -Almost There\n\n\nMaciej Piasec...

In [317]:
litsearch_query_df_cleaned = litsearch_query_df.drop_duplicates(subset=['query'], keep='first')
len(litsearch_query_df_cleaned)

597

In [318]:
len(litsearch_papers_df)

64183

In [319]:
litsearch_papers_df_cleaned = litsearch_papers_df.drop_duplicates(subset=['abstract'], keep='first')
len(litsearch_papers_df_cleaned)

55909

In [320]:
duplicated_papers = litsearch_papers_df[litsearch_papers_df.duplicated(subset=['abstract'], keep=False)]

In [321]:
len(duplicated_papers[duplicated_papers["abstract"] == ""])

7989

In [322]:
len(litsearch_query_df_cleaned[litsearch_query_df_cleaned["query"] == ""])

0

In [323]:
litsearch_query_df_cleaned.head()

,query_set,query,specificity,quality,corpusids
0,inline_acl,Are there any research papers on methods to co...,0,2,[202719327]
1,inline_acl,Are there any resources available for translat...,1,2,[227231792]
2,inline_acl,Are there any studies that explore post-hoc te...,0,2,"[226254579, 204976362]"
3,inline_acl,Are there any tools or studies that have focus...,1,2,"[10961392, 12160022]"
4,inline_acl,Are there papers that propose contextualized c...,1,2,[233296182]

In [324]:
litsearch_papers_df_cleaned.head()

,corpusid,title,abstract,citations,full_paper
0,252715594,PHENAKI: VARIABLE LENGTH VIDEO GENERATION FROM...,"We present Phenaki, a model capable of realist...","[6628106, 174802916, 238582653]",PHENAKI: VARIABLE LENGTH VIDEO GENERATION FROM...
1,13002849,MODE REGULARIZED GENERATIVE ADVERSARIAL NETWORKS,Although Generative Adversarial Networks achie...,[],MODE REGULARIZED GENERATIVE ADVERSARIAL NETWOR...
2,239998253,What Do We Mean by Generalization in Federated...,Federated learning data is drawn from a distri...,"[235613568, 231924480, 211678094, 195798643, 4...",What Do We Mean by Generalization in Federated...
3,62841605,SPREADING VECTORS FOR SIMILARITY SEARCH,Discretizing multi-dimensional data distributi...,[],SPREADING VECTORS FOR SIMILARITY SEARCH\n\n\nA...
4,253237531,MACHINE UNLEARNING OF FEDERATED CLUSTERS,Federated clustering (FC) is an unsupervised l...,[],MACHINE UNLEARNING OF FEDERATED CLUSTERS\n\n\n...

In [325]:
duplicated_papers.head()

,corpusid,title,abstract,citations,full_paper
28,232257804,IMPLICIT NORMALIZING FLOWS,,[],IMPLICIT NORMALIZING FLOWS\n\n\nCheng Lu \nJia...
234,238419270,UNDERSTANDING DOMAIN RANDOMIZATION FOR SIM-TO-...,Reinforcement learning encounters many challen...,[],UNDERSTANDING DOMAIN RANDOMIZATION FOR SIM-TO-...
246,260498700,EXPLORING SPARSITY IN RECURRENT NEURAL NETWORKS,Recurrent Neural Networks (RNN) are widely use...,[],EXPLORING SPARSITY IN RECURRENT NEURAL NETWORK...
499,265038424,IMPROVING GENERALIZATION AND STABILITY OF GENE...,Generative Adversarial Networks (GANs) are one...,"[1758096, 3568073, 3366315, 3398677]",IMPROVING GENERALIZATION AND STABILITY OF GENE...
512,247613305,SURF: SEMI-SUPERVISED REWARD LEARNING WITH DAT...,Preference-based reinforcement learning (RL) h...,"[216562627, 3162051, 236134152, 6628106, 28202...",SURF: SEMI-SUPERVISED REWARD LEARNING WITH DAT...

In [326]:
duplicated_papers[duplicated_papers["abstract"] == 'Recurrent Neural Networks (RNN) are widely used to solve a variety of problems and as the quantity of data and the amount of available compute have increased, so have model sizes. The number of parameters in recent state-of-the-art networks makes them hard to deploy, especially on mobile phones and embedded devices. The challenge is due to both the size of the model and the time it takes to evaluate it. In order to deploy these RNNs efficiently, we propose a technique to reduce the parameters of a network by pruning weights during the initial training of the network. At the end of training, the parameters of the network are sparse while accuracy is still close to the original dense neural network. The network size is reduced by 8× and the time required to train the model remains constant. Additionally, we can prune a larger dense network to achieve better than baseline performance while still reducing the total number of parameters significantly. Pruning RNNs reduces the size of the model and can also help achieve significant inference time speed-up using sparse matrix multiply. Benchmarks show that using our technique model size can be reduced by 90% and speed-up is around 2× to 7×.Published as a conference paper at ICLR 2017The more powerful server class GPUs used in data centers can generally perform inference quickly enough to serve one user, but in the data center performance per dollar is very important. Techniques that allow models to be evaluated faster enable more users to be served per GPU increasing the effective performance per dollar.']

,corpusid,title,abstract,citations,full_paper
246,260498700,EXPLORING SPARSITY IN RECURRENT NEURAL NETWORKS,Recurrent Neural Networks (RNN) are widely use...,[],EXPLORING SPARSITY IN RECURRENT NEURAL NETWORK...
1004,10135357,EXPLORING SPARSITY IN RECURRENT NEURAL NETWORKS,Recurrent Neural Networks (RNN) are widely use...,[],EXPLORING SPARSITY IN RECURRENT NEURAL NETWORK...
2739,261437068,EXPLORING SPARSITY IN RECURRENT NEURAL NETWORKS,Recurrent Neural Networks (RNN) are widely use...,[],EXPLORING SPARSITY IN RECURRENT NEURAL NETWORK...

In [327]:
duplicated_papers["abstract"][246]

'Recurrent Neural Networks (RNN) are widely used to solve a variety of problems and as the quantity of data and the amount of available compute have increased, so have model sizes. The number of parameters in recent state-of-the-art networks makes them hard to deploy, especially on mobile phones and embedded devices. The challenge is due to both the size of the model and the time it takes to evaluate it. In order to deploy these RNNs efficiently, we propose a technique to reduce the parameters of a network by pruning weights during the initial training of the network. At the end of training, the parameters of the network are sparse while accuracy is still close to the original dense neural network. The network size is reduced by 8× and the time required to train the model remains constant. Additionally, we can prune a larger dense network to achieve better than baseline performance while still reducing the total number of parameters significantly. Pruning RNNs reduces the size of the model and can also help achieve significant inference time speed-up using sparse matrix multiply. Benchmarks show that using our technique model size can be reduced by 90% and speed-up is around 2× to 7×.Published as a conference paper at ICLR 2017The more powerful server class GPUs used in data centers can generally perform inference quickly enough to serve one user, but in the data center performance per dollar is very important. Techniques that allow models to be evaluated faster enable more users to be served per GPU increasing the effective performance per dollar.'

so we want to remove corpusids that correspond to papers with empty abstracts and fix those with duplicates (replace with first occurance)

In [328]:
litsearch_papers_df

,corpusid,title,abstract,citations,full_paper
0,252715594,PHENAKI: VARIABLE LENGTH VIDEO GENERATION FROM...,"We present Phenaki, a model capable of realist...","[6628106, 174802916, 238582653]",PHENAKI: VARIABLE LENGTH VIDEO GENERATION FROM...
1,13002849,MODE REGULARIZED GENERATIVE ADVERSARIAL NETWORKS,Although Generative Adversarial Networks achie...,[],MODE REGULARIZED GENERATIVE ADVERSARIAL NETWOR...
2,239998253,What Do We Mean by Generalization in Federated...,Federated learning data is drawn from a distri...,"[235613568, 231924480, 211678094, 195798643, 4...",What Do We Mean by Generalization in Federated...
3,62841605,SPREADING VECTORS FOR SIMILARITY SEARCH,Discretizing multi-dimensional data distributi...,[],SPREADING VECTORS FOR SIMILARITY SEARCH\n\n\nA...
4,253237531,MACHINE UNLEARNING OF FEDERATED CLUSTERS,Federated clustering (FC) is an unsupervised l...,[],MACHINE UNLEARNING OF FEDERATED CLUSTERS\n\n\n...
...,...,...,...,...,...
64178,208324656,,,[],"Pharmacological Substances, Compounds\n\n\nVíc..."
64179,30831790,The FLaReNet Thematic Network: A Global Forum ...,The aim of this short paper is to present the ...,[],The FLaReNet Thematic Network: A Global Forum ...
64180,11918974,Improved statistical measures to assess natura...,We examine the performance of three dependency...,"[12042560, 628455, 196105, 9429298, 9431510, 6...",Improved statistical measures to assess natura...
64181,2046924,The relative divergence of Dutch dialect pronu...,In this paper we use the Reeks Nederlandse Dia...,[2704974],The relative divergence of Dutch dialect pronu...
64182,231642302,plWordNet 3.0 -Almost There,It took us nearly ten years to get from no wor...,"[16189696, 11338245, 17178054, 17535854, 24949...",plWordNet 3.0 -Almost There\n\n\nMaciej Piasec...

In [329]:
litsearch_papers_df[litsearch_papers_df["corpusid"] == 225771528]

,corpusid,title,abstract,citations,full_paper
43943,225771528,,,[],Traduction automatique pour la normalisation d...

Note: some rows in `litsearch_papers_df` may be valid but just with no abstract (meaning that whenever its references in   `litsearch_query_df_cleaned`, its full text corresponds to the query). but just for simplicity since I am just looking at query <> abstract pairs, we will consider these rows to be invalid too

In [568]:
empty_abstract_ids = set(
    duplicated_papers.loc[duplicated_papers["abstract"] == "", "corpusid"]
)

duplicate_mapping = {}

for _, group in duplicated_papers.groupby("title"):
    first_corpusid = group.iloc[0]["corpusid"]
    for corpusid in group["corpusid"]:
        duplicate_mapping[corpusid] = first_corpusid

def clean_corpusids(corpusids):
    cleaned_ids = []
    
    for corpusid in corpusids:
        # Remove corpusid if it has an empty abstract
        if corpusid in empty_abstract_ids:
            continue
        
        # Replace corpusid if it's a duplicate
        if corpusid in duplicate_mapping:
            corpusid = duplicate_mapping[corpusid]
        
        cleaned_ids.append(corpusid)
    
    return list(set(cleaned_ids))

litsearch_query_df_cleaned["corpusids"] = litsearch_query_df_cleaned["corpusids"].apply(clean_corpusids)

litsearch_query_df_cleaned.head()

,query_set,query,specificity,quality,corpusids
0,inline_acl,Are there any research papers on methods to co...,0,2,[202719327]
1,inline_acl,Are there any resources available for translat...,1,2,[227231792]
2,inline_acl,Are there any studies that explore post-hoc te...,0,2,"[204976362, 226254579]"
3,inline_acl,Are there any tools or studies that have focus...,1,2,"[10961392, 12160022]"
4,inline_acl,Are there papers that propose contextualized c...,1,2,[233296182]

there seems to be research papers in french? we're not looking for multilingual datasets here so will exclude

In [331]:
# words that may appear
common_french_words = {"à", "avec", "pour", "par", "dans", "ou", "mais", "donc",
                       "ce", "cet", "cette", "ces", "qui", "que", "cela", "ainsi", "selon", 
                       "notamment", "plusieurs", "également", "néanmoins", "alors", "afin"}

def is_french_paper(text):
    if pd.isna(text):
        return False
    text_words = set(text.lower().split())  # Convert text to lowercase and split into words
    return bool(common_french_words & text_words)  # Check for intersection

litsearch_papers_df_cleaned["is_french"] = litsearch_papers_df_cleaned["title"].apply(is_french_paper)

/var/folders/tt/89j8tbqd2q3bnwxk83_csyn00000gn/T/ipykernel_2920/46228635.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  litsearch_papers_df_cleaned["is_french"] = litsearch_papers_df_cleaned["title"].apply(is_french_paper)

more accurate way of clasifying since we know that french papers actually exist

also, used title because tried this with full paper earlier and it would often be english papers referecing french papers

In [228]:
pip install langdetect

Defaulting to user installation because normal site-packages is not writeable
Collecting langdetect
  Downloading langdetect-1.0.9.tar.gz (981 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 981.5/981.5 kB 2.4 MB/s eta 0:00:00a 0:00:01
  Preparing metadata (setup.py) ... done
Requirement already satisfied: six in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from langdetect) (1.15.0)
Building wheels for collected packages: langdetect
  Building wheel for langdetect (setup.py) ... done
  Created wheel for langdetect: filename=langdetect-1.0.9-py3-none-any.whl size=993242 sha256=632f10edf5c07922995c2fe11238d184f996b7b0ae33fe2cafba3e8e08f85114
  Stored in directory: /Users/kellyhong/Library/Caches/pip/wheels/d1/c1/d9/7e068de779d863bc8f8fc9467d85e25cfe47fa5051fff1a1bb
Successfully built langdetect
Installing collected packages: langdetect
Successfully installed langdetect-1.0.9

[notice] A new release of pip is available: 24.3.1 -> 25.0
[notice] To update, run: /Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [229]:
from langdetect import detect, DetectorFactory

DetectorFactory.seed = 0  # Ensure consistent results

def detect_language(text):
    if pd.isna(text) or not isinstance(text, str) or len(text) < 5:
        return "unknown"
    try:
        return detect(text)
    except:
        return "unknown"

litsearch_papers_df_cleaned["language"] = litsearch_papers_df_cleaned["title"].apply(detect_language)

english_papers_df = litsearch_papers_df_cleaned[litsearch_papers_df_cleaned["language"] == "en"]
non_english_papers_df = litsearch_papers_df_cleaned[litsearch_papers_df_cleaned["language"] != "en"]

/var/folders/tt/89j8tbqd2q3bnwxk83_csyn00000gn/T/ipykernel_2920/4260974261.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  litsearch_papers_df_cleaned["language"] = litsearch_papers_df_cleaned["title"].apply(detect_language)

from some observations, it seems like papers are either in english or french (non-french/english papers just seem to be misclassified but they're actually english)

but also some "fr" classified ones are actually english, so I think my previous method is more accurate

quick check in query dataset:

In [242]:
french_queries_df = litsearch_query_df_cleaned[litsearch_query_df_cleaned["query"].apply(is_french_paper)]

french_queries_df.head()

Empty DataFrame
Columns: [query_set, query, specificity, quality, corpusids]
Index: []

so it's just the research papers that have french text, will account for those since this benchmark isn't supposed to test multilingual

In [332]:
litsearch_papers_df_cleaned[litsearch_papers_df_cleaned["is_french"] == True].head()

,corpusid,title,abstract,citations,full_paper,is_french
4809,264038749,Jeu de données de tickets de caisse pour la dé...,L'utilisation généralisée de documents numériq...,[],Jeu de données de tickets de caisse pour la dé...,True
4857,193020094,Annotation automatique d'un corpus d'apprenant...,RÉSUMÉ________________________________________...,[252796],Annotation automatique d'un corpus d'apprenant...,True
4884,264038759,Production automatique de gloses interlinéaire...,La production d'annotations linguistiques ou g...,"[263313957, 52967399, 227231816, 12259852, 770...",Production automatique de gloses interlinéaire...,True
4885,264038774,Stratégies d'apprentissage actif pour la recon...,L'annotation manuelle de corpus est un process...,"[220045827, 174799748, 17449944, 250390500, 52...",Stratégies d'apprentissage actif pour la recon...,True
4889,30339746,VisArtico : visualiser les données articulatoi...,"1) LORIA -UMR 7503, 54506 Vandoeuvre-lès-Nancy...",[],VisArtico : visualiser les données articulatoi...,True

In [333]:
french_paper_ids = set(
    litsearch_papers_df_cleaned.loc[litsearch_papers_df_cleaned["is_french"] == True, "corpusid"]
)
len(french_paper_ids)

460

In [334]:
def clean_language(corpusids):
    cleaned_ids = []

    for corpusid in corpusids:
        if corpusid in french_paper_ids:
            continue
        else:
            cleaned_ids.append(corpusid)
    
    return list(set(cleaned_ids))

litsearch_query_df_cleaned["corpusids"] = litsearch_query_df_cleaned["corpusids"].apply(clean_language)

In [335]:
litsearch_query_df_cleaned.head()

,query_set,query,specificity,quality,corpusids
0,inline_acl,Are there any research papers on methods to co...,0,2,[202719327]
1,inline_acl,Are there any resources available for translat...,1,2,[227231792]
2,inline_acl,Are there any studies that explore post-hoc te...,0,2,"[204976362, 226254579]"
3,inline_acl,Are there any tools or studies that have focus...,1,2,"[10961392, 12160022]"
4,inline_acl,Are there papers that propose contextualized c...,1,2,[233296182]

check to make sure everything worked

In [336]:
filtered_df = litsearch_query_df_cleaned[
    litsearch_query_df_cleaned["corpusids"].apply(lambda x: 264038749 in x)
]

In [337]:
filtered_df

Empty DataFrame
Columns: [query_set, query, specificity, quality, corpusids]
Index: []

In [338]:
len(litsearch_papers_df_cleaned)

55909

In [339]:
len(litsearch_papers_df_cleaned[litsearch_papers_df_cleaned["is_french"] == False])

55449

In [340]:
litsearch_papers_df_cleaned_en = litsearch_papers_df_cleaned[litsearch_papers_df_cleaned["is_french"] == False]

In [342]:
len(litsearch_papers_df_cleaned_en)

55449

#### Final cleaned dataset

In [341]:
litsearch_papers_df_cleaned_en.head()

,corpusid,title,abstract,citations,full_paper,is_french
0,252715594,PHENAKI: VARIABLE LENGTH VIDEO GENERATION FROM...,"We present Phenaki, a model capable of realist...","[6628106, 174802916, 238582653]",PHENAKI: VARIABLE LENGTH VIDEO GENERATION FROM...,False
1,13002849,MODE REGULARIZED GENERATIVE ADVERSARIAL NETWORKS,Although Generative Adversarial Networks achie...,[],MODE REGULARIZED GENERATIVE ADVERSARIAL NETWOR...,False
2,239998253,What Do We Mean by Generalization in Federated...,Federated learning data is drawn from a distri...,"[235613568, 231924480, 211678094, 195798643, 4...",What Do We Mean by Generalization in Federated...,False
3,62841605,SPREADING VECTORS FOR SIMILARITY SEARCH,Discretizing multi-dimensional data distributi...,[],SPREADING VECTORS FOR SIMILARITY SEARCH\n\n\nA...,False
4,253237531,MACHINE UNLEARNING OF FEDERATED CLUSTERS,Federated clustering (FC) is an unsupervised l...,[],MACHINE UNLEARNING OF FEDERATED CLUSTERS\n\n\n...,False

In [343]:
litsearch_query_df_cleaned.head()

,query_set,query,specificity,quality,corpusids
0,inline_acl,Are there any research papers on methods to co...,0,2,[202719327]
1,inline_acl,Are there any resources available for translat...,1,2,[227231792]
2,inline_acl,Are there any studies that explore post-hoc te...,0,2,"[204976362, 226254579]"
3,inline_acl,Are there any tools or studies that have focus...,1,2,"[10961392, 12160022]"
4,inline_acl,Are there papers that propose contextualized c...,1,2,[233296182]

### **Multilingual**

### WikipediaRetrievalMultilingual

#### Queries

In [387]:
queries_en = load_dataset("ellamind/wikipedia-2023-11-retrieval-multilingual-queries", "en")
queries_de = load_dataset("ellamind/wikipedia-2023-11-retrieval-multilingual-queries", "de")
queries_it = load_dataset("ellamind/wikipedia-2023-11-retrieval-multilingual-queries", "it")
queries_nl = load_dataset("ellamind/wikipedia-2023-11-retrieval-multilingual-queries", "nl")
queries_pt = load_dataset("ellamind/wikipedia-2023-11-retrieval-multilingual-queries", "pt")
queries_hi = load_dataset("ellamind/wikipedia-2023-11-retrieval-multilingual-queries", "hi")

In [391]:
corpus_en = load_dataset("ellamind/wikipedia-2023-11-retrieval-multilingual-corpus", "en")
corpus_de = load_dataset("ellamind/wikipedia-2023-11-retrieval-multilingual-corpus", "de")
corpus_it = load_dataset("ellamind/wikipedia-2023-11-retrieval-multilingual-corpus", "it")
corpus_nl = load_dataset("ellamind/wikipedia-2023-11-retrieval-multilingual-corpus", "nl")
corpus_pt = load_dataset("ellamind/wikipedia-2023-11-retrieval-multilingual-corpus", "pt")
corpus_hi = load_dataset("ellamind/wikipedia-2023-11-retrieval-multilingual-corpus", "hi")

In [396]:
qrels_en = load_dataset("ellamind/wikipedia-2023-11-retrieval-multilingual-qrels", "en")
qrels_de = load_dataset("ellamind/wikipedia-2023-11-retrieval-multilingual-qrels", "de")
qrels_it = load_dataset("ellamind/wikipedia-2023-11-retrieval-multilingual-qrels", "it")
qrels_nl = load_dataset("ellamind/wikipedia-2023-11-retrieval-multilingual-qrels", "nl")
qrels_pt = load_dataset("ellamind/wikipedia-2023-11-retrieval-multilingual-qrels", "pt")
qrels_hi = load_dataset("ellamind/wikipedia-2023-11-retrieval-multilingual-qrels", "hi")

In [398]:
queries_en_df = queries_en["test"].to_pandas()
queries_en_df.head()

                        _id                                               text
0    q20231101.en_399353_52  When did the show "Bewitched" start airing on ...
1     q20231101.en_47595_14       What is the geological history of Manchuria?
2    q20231101.en_392095_57  What are the facilities and capabilities of Ch...
3  q20231101.en_21345189_22  What role did Vladivostok play during the Grea...
4       q20231101.en_633_54  How can algae be used to manage farm runoff an...

In [401]:
corpus_en_df = corpus_en["test"].to_pandas()

In [403]:
qrels_en_df = qrels_en["test"].to_pandas()

In [421]:
qrels_en_df["score"].unique()

array([0.5, 1. ], dtype=float32)

potentially use `score` to weigh in on eval metrics somehow?

In [414]:
queries_en_df[queries_en_df["_id"] == "q20231101.en_5843419_78"]["text"][451]

'What are the components of the French Armed Forces?'

In [419]:
corpus_en_df[corpus_en_df["_id"] == "20231101.en_5843419_74"]["text"][9]

'French foreign policy after World War II has been largely shaped by membership in the European Union, of which it was a founding member. Since the 1960s, France has developed close ties with reunified Germany to become the most influential driving force of the EU. In the 1960s, France sought to exclude the British from the European unification process, seeking to build its standing in continental Europe. However, since 1904, France has maintained an "Entente cordiale" with the United Kingdom, and there has been a strengthening of links between the countries, especially militarily.'

'French foreign policy after World War II has been largely shaped by membership in the European Union, of which it was a founding member. Since the 1960s, France has developed close ties with reunified Germany to become the most influential driving force of the EU. In the 1960s, France sought to exclude the British from the European unification process, seeking to build its standing in continental Europe. However, since 1904, France has maintained an "Entente cordiale" with the United Kingdom, and there has been a strengthening of links between the countries, especially militarily.'

No dfs have empty entries, I checked so no need to clean for that

In [451]:
def deduplicate(queries, corpus, langauge):
    print(langauge)

    queries_df = queries["test"].to_pandas()
    corpus_df = corpus["test"].to_pandas()

    duplicates_queries_df = queries_df[queries_df.duplicated(subset=['text'], keep=False)]

    print(f"duplicate queries: {len(duplicates_queries_df)}")

    duplicates_corpus_df = corpus_df[corpus_df.duplicated(subset=['text'], keep=False)]

    print(f"duplicate corpus: {len(duplicates_corpus_df)}")

    new_line = corpus_df["text"].str.contains("\n", regex=True).any()

    print(f"contains new line: {new_line}")

In [452]:
inputs = [
    (queries_en, corpus_en, "en"), 
    (queries_de, corpus_de, "de"), 
    (queries_it, corpus_it, "it"),
    (queries_nl, corpus_nl, "nl"),
    (queries_pt, corpus_pt, "pt"),
    (queries_hi, queries_hi, "hi")]

for queries, corpus, langauge in inputs:
    deduplicate(queries, corpus, langauge)

en
duplicate queries: 0
duplicate corpus: 0
contains new line: False
de
duplicate queries: 2
duplicate corpus: 0
contains new line: False
it
duplicate queries: 0
duplicate corpus: 9
contains new line: False
nl
duplicate queries: 0
duplicate corpus: 24
contains new line: False
pt
duplicate queries: 0
duplicate corpus: 19
contains new line: False
hi
duplicate queries: 2
duplicate corpus: 2
contains new line: False

some have duplicates, corpus has no '\n'

In [465]:
grouped_df = corpus_en_df.groupby("text").size().reset_index(name="count")
print(grouped_df.head())

                                                text  count
0  "A Peronist works for the movement. Whoever, i...      1
1  "A true democracy is that one in which the gov...      1
2  "Aerial Launch": a joint Russian-Ukrainian pro...      1
3  "America's technology store" was abandoned for...      1
4  "Aten bends low, near the earth, to watch over...      1

In [475]:
qrels_en_df

                       query-id                corpus-id  score
0      q20231101.en_45492650_20  20231101.en_45492650_16    0.5
1      q20231101.en_45492650_20  20231101.en_45492650_17    0.5
2      q20231101.en_45492650_20  20231101.en_45492650_18    0.5
3      q20231101.en_45492650_20  20231101.en_45492650_19    0.5
4      q20231101.en_45492650_20  20231101.en_45492650_20    1.0
...                         ...                      ...    ...
13495   q20231101.en_1488463_17   20231101.en_1488463_17    1.0
13496   q20231101.en_1488463_17   20231101.en_1488463_18    0.5
13497   q20231101.en_1488463_17   20231101.en_1488463_19    0.5
13498   q20231101.en_1488463_17   20231101.en_1488463_20    0.5
13499   q20231101.en_1488463_17   20231101.en_1488463_21    0.5

[13500 rows x 3 columns]

In [478]:
def clean_dfs(queries, corpus, language, qrels):
    print(f"cleaning {language}")

    queries_df = queries["test"].to_pandas()
    corpus_df = corpus["test"].to_pandas()
    qrels_df = qrels["test"].to_pandas()

    cleaned_queries_df = queries_df.drop_duplicates(subset=['text'], keep='first')
    cleaned_corpus_df = corpus_df.drop_duplicates(subset=['text'], keep='first')

    duplicates_queries_df = queries_df[queries_df.duplicated(subset=['text'], keep=False)]
    duplicates_corpus_df = corpus_df[corpus_df.duplicated(subset=['text'], keep=False)]

    query_id_mapping = duplicates_queries_df.groupby('text')['_id'].first().to_dict()
    corpus_id_mapping = duplicates_corpus_df.groupby('text')['_id'].first().to_dict()
    query_id_replacement = {row['_id']: query_id_mapping[row['text']] for _, row in duplicates_queries_df.iterrows()}
    corpus_id_replacement = {row['_id']: corpus_id_mapping[row['text']] for _, row in duplicates_corpus_df.iterrows()}

    qrels_df['query-id'] = qrels_df["query-id"].replace(query_id_replacement)
    qrels_df["corpus-id"] = qrels_df["corpus-id"].replace(corpus_id_replacement)

    cleaned_qrels_df = qrels_df.drop_duplicates(subset=['query-id', 'corpus-id'])

    return cleaned_queries_df, cleaned_corpus_df, cleaned_qrels_df

In [479]:
inputs_for_cleaning = [
    (queries_en, corpus_en, "en", qrels_en), 
    (queries_de, corpus_de, "de", qrels_de), 
    (queries_it, corpus_it, "it", qrels_it),
    (queries_nl, corpus_nl, "nl", qrels_nl),
    (queries_pt, corpus_pt, "pt", qrels_pt),
    (queries_hi, queries_hi, "hi", qrels_hi)
]

#### Final cleaned dataset

In [483]:
cleaned_queries_df_en, cleaned_corpus_df_en, cleaned_qrels_df_en = clean_dfs(queries_en, corpus_en, "en", qrels_en)
cleaned_queries_df_de, cleaned_corpus_df_de, cleaned_qrels_df_de = clean_dfs(queries_de, corpus_de, "de", qrels_de)
cleaned_queries_df_it, cleaned_corpus_df_it, cleaned_qrels_df_it = clean_dfs(queries_it, corpus_it, "it", qrels_it)
cleaned_queries_df_nl, cleaned_corpus_df_nl, cleaned_qrels_df_nl = clean_dfs(queries_nl, corpus_nl, "nl", qrels_nl)
cleaned_queries_df_pt, cleaned_corpus_df_pt, cleaned_qrels_df_pt = clean_dfs(queries_pt, corpus_pt, "pt", qrels_pt)
cleaned_queries_df_hi, cleaned_corpus_df_hi, cleaned_qrels_df_hi = clean_dfs(queries_hi, queries_hi, "hi", qrels_hi)

cleaning en
cleaning de
cleaning it
cleaning nl
cleaning pt
cleaning hi

just got rid of duplicates, dataset seems pretty clean already so wondering if there is anything else I should do